
header {
    background-color: white;
    position: relative;
    padding: 0.5rem;
}

nav ul {
    color: black;
    font-size: 20px;
    list-style-type: none;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
}

nav li {
    display: inline;
    margin-left: 1rem;
}

div h3 {
    margin-inline-start: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div h3 img {
    width: 40px;
    height: 40px;
}

.cart_box {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.home strong{
    margin: 1rem auto;
    width: 100%;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
}

.product_image {
    width: 275px;
    height: 240px;
}

.hr_product {
    width: 30%;
    border: 2px solid black;
}

.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.home {
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
}