
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

header {
    background-color: white;
    position: relative;
    padding: 0.5rem;
}

nav ul {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    list-style-type: none;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
}

nav li {
    display: inline;
    margin-left: 1rem;
}

div h3 {
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

div h3 img {
    width: 40px;
    height: 40px;
}

.cart_box {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.home strong{
    margin: 1rem auto;
    width: 100%;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
}

.product_image {
    width: 275px;
    height: 240px;
}

.hr_product {
    width: 30%;
    border: 2px solid black;
}

.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.home {
    background-image: 
    linear-gradient(90deg, black 10%, rgba(0,0,0,0) 50%, black 90%),
    url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
}

main div strong {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.top_left_home_text {
    position: absolute;
    bottom: 20rem;
    left: 8rem;
}

.bottom_right_home_text {
    position: absolute;
    bottom: 3rem;
    right: 6rem;
}

.about_unglazed_vase {
    float: right;
    width: 600px;
    height: 900px;
    padding-right: 2rem;
}

.about_flower_vase {
    width: 400px;
    height: 1000px;
}