
header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

nav ul :link {
    text-decoration: none;
    color: black;
}

nav ul :visited {
    text-decoration: none;
    color: black;
}

nav ul :hover {
    text-decoration: none;
    color: black;
}

nav ul :active {
    text-decoration: none;
    color: black;
}

nav ul {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    list-style-type: none;
    position: absolute;
    top: 0.5rem;
    left: 7rem;
}

nav li {
    display: inline;
    margin-left: 1rem;
}

div h3 {
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

div h3 img {
    color: #bf7631;
    width: 40px;
    height: 40px;
}

.cart_box {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: absolute;
    top: 2rem;
    right: 10rem;
}

header hr {
    text-align: center;
    position: relative;
    width: 80%;
    height: 2px;
    background: black;
}

.home strong{
    margin: 1rem auto;
    width: 100%;
}

.home {
    background-image: 
    linear-gradient(90deg, black 10%, rgba(0,0,0,0) 50%, black 90%),
    url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
}

.home strong {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.top_left_home_text {
    position: absolute;
    bottom: 20rem;
    left: 8rem;
}

.bottom_right_home_text {
    position: absolute;
    bottom: 3rem;
    right: 6rem;
}

.about {
    margin: 10%;
}

.about hr {
    text-align: left;
    position: relative;
    height: 2px;
    margin-right: 40%;
    background: black;
}

.about h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 40px;
    position: relative;
}

.about_unglazed_vase {
    float: right;
    width: 450px;
    height: 700px;
    position: relative;
    text-align: right;
    margin-left: 10%;
}

.about p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2rem;
    padding: 1rem;
    position: relative;
}

.about_flower_vase {
    margin-left: -2rem;
    float: left;
    width: 250px;
    height: 400px;
    position: relative;
}







.products {
    margin: 10%;
}

.products h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 40px;
    position: relative;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
}

.product_image {
    width: 250px;
    height: 250px;
}

.hr_product {
    position: relative;
    height: 2px;
    background: black;
    text-align: left;
    margin-right: 40%;
}

.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}





.contact {
    margin: 10%;
    text-align: left;
}

.contact h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 40px;
    position: relative;
}

footer {
    color: black;
    text-align: center;
}